<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href="/public/plugin/4.0.0_bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/style.css" rel="stylesheet">
    <link href="/public/assets/index/index-style.css" rel="stylesheet">
    <title>User - Series</title>

</head>

<body>
    <div class="container-fluid">

        <!-- first view start  --> 
        <div class="container">
            <div class="row ">
                <div class="col-12" style="padding-top: 50px;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center">
                            <img  src="/public/assets/index/img/head icon.svg" style="width:60px; padding-bottom: 15px;">


                            <p class="head_caption fontRegular">User Stories that Write Themselves</p>
                            <p class="head_content" style="padding-bottom: 20px;">As a product owner / dev lead /
                                Full
                                Stack Dev, I want to write /
                                better / templatize my user stories with ease / simplicity / insights</p>
                            <a href="#" class="head_btn"><img src="../public/assets/index/img/icons8-pen-96-2.png"
                                    width="20px">&nbsp;&nbsp;&nbsp;WRITE YOUR FIRST STORY</a>
                        </div>

                        <div class=" col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <img class="side_img" src="/public/assets/index/img/head image.svg" style="width: 100%">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- first view end  -->








        <!-- Benifits Page start -->






        <div class="container-fluid" style="padding: 0px;">
            <div class="row ">

                <div class="col-12 benifits1">
                    <div class="row">
                        <div class="col-12 ">

                            <p class="product_features fontRegular"><span
                                    style="border-bottom: 3px solid blue; width: 10%;">Product Features</span></p>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 benefit_first_img1">
                            <img src="/public/assets/index/img/image1.png" style="width: 100%; height: auto; padding-top: 20px;">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product_content_part align-self-center">
                            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9 ">
                                <p class="benefit_heading fontRegular">User Stories that Write Themselves.</p>
                                <hr style="border-top: 1px dashed #d3d2d2;">
                                <p class="benefits_content_part">As a product owner / dev lead / Full Stack Dev, I want
                                    to write / better / templatize
                                    my user stories with ease / simplicity / insights</p>
                                <p class="benefits_content_part" style="padding-top: 10px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit
                                    amet, consectetur</p>
                                <p class="benefits_content_part"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;adipiscing elit, sed
                                    do eiusmod tempor</p>
                                <p class="benefits_content_part" style="padding-bottom: 30px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;incididunt ut labore
                                    et dolore magna</p>


                                <a href="#" class="benefit_read_more">Read More&nbsp; &#x3e;</a>
                                <br />
                                <br />
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>







        <div class="container-fluid" style="padding: 0px;">
            <div class="row ">

                <div class="col-12 benifits2">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product_content_part align-self-center">
                            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9 ">
                                <p class="benefit_heading fontRegular">User Stories that Write Themselves.</p>
                                <hr style="border-top: 1px dashed #d3d2d2;">
                                <p class="benefits_content_part">As a product owner / dev lead / Full Stack Dev, I want
                                    to write / better / templatize
                                    my user stories with ease / simplicity / insights</p>
                                <p class="benefits_content_part" style="padding-top: 10px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit
                                    amet, consectetur</p>
                                <p class="benefits_content_part"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;adipiscing elit, sed
                                    do eiusmod tempor</p>
                                <p class="benefits_content_part" style="padding-bottom: 30px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;incididunt ut labore
                                    et dolore magna</p>
                                <a href="#" class="benefit_read_more">Read More&nbsp; &#x3e;</a>
                            </div>



                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 benefit_first_img2">
                                <img src="/public/assets/index/img/image2.png" style="width: 100%; height: auto; padding-top: 20px;">


                        </div>

                    </div>
                </div>
            </div>
        </div>








        <div class="container-fluid" style="padding: 0px;">
            <div class="row ">

                <div class="col-12 benifits3">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 benefit_first_img3">

                                <img src="/public/assets/index/img/image3.png" style="width: 100%; align-content: center; ">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 product_content_part align-self-center">
                            <div class="col-md-9 col-sm-12 col-xs-12 col-lg-9 ">
                                <p class="benefit_heading fontRegular">User Stories that Write Themselves.</p>
                                <hr style="border-top: 1px dashed #d3d2d2;">
                                <p class="benefits_content_part">As a product owner / dev lead / Full Stack Dev, I want
                                    to write / better / templatize
                                    my user stories with ease / simplicity / insights</p>
                                <p class="benefits_content_part" style="padding-top: 10px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit
                                    amet, consectetur</p>
                                <p class="benefits_content_part"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;adipiscing elit, sed
                                    do eiusmod tempor</p>
                                <p class="benefits_content_part" style="padding-bottom: 30px;"><img
                                        src="/public/assets/index/img/tick.svg">&nbsp;&nbsp;&nbsp;incididunt ut labore
                                    et dolore magna</p>
                                <a href="#" class="benefit_read_more">Read More&nbsp; &#x3e;</a>
                            </div>



                        </div>

                    </div>
                </div>
            </div>
        </div>





        <!-- Benifits Page end -->


<!-- Gradient Page start -->







<!-- Gradient Page end -->




        <!-- FAQ Page start -->
        <div class="container-fluid" style="padding: 0px;">
            <div class="row ">
                <div class="col-12"
                    style="padding-top: 50px;background: transparent linear-gradient(269deg, #FFFFFF00 0%, #F7F7FE 100%) 0% 0% no-repeat padding-box;">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                            <div class="col-md-8 offset-md-2 col-sm-12 col-xs-12 faq_contact">
                                <a href="#" class="faq_btn">FAQ</a>
                                <p class="fontRegular faq_head">Have Questions about User Story writer?</p>
                                <p
                                    style="background: transparent linear-gradient(90deg, #00000036 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box; font-size: 1px; margin-top: 20px;">
                                    &nbsp;</p>
                                <p style="color: #B1B1B1;font-size: 15px; font-weight: bold; padding-top: 20px;">CONTACT
                                    US ANYTIME:</p>
                                <a href="mailto:hello@userstories.com"
                                    style="color: #111E3D; font-size: 18px;font-weight: bold;text-decoration: none;">hello@userstories.com</a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 align-self-center faq_toggle">
                            <!-- <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="padding-right: 50px;"> -->
                            <button class="accordion">1. How can I install/upgrade Dummy Content?</button>
                            <div class="panel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <hr style="width: 97%; color: #E2E2E2;">

                            <button class="accordion">2. What are the minimum requirements?</button>
                            <div class="panel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <hr style="width: 97%; color: #E2E2E2;">
                            <button class="accordion">3. Where can I download earlier versions?</button>
                            <div class="panel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <hr style="width: 97%; color: #E2E2E2;">
                            <button class="accordion">4. How can I downgrade to an earlier version of Dummy
                                Content?</button>
                            <div class="panel">
                                <p>If for some reason you need to install an older version, it is best to uninstall
                                    the
                                    extension first.You will also have to uninstall the Regular Labs Library system
                                    plugin.</p>
                            </div>
                            <hr style="width: 97%; color: #E2E2E2;">
                            <button class="accordion">5. What is the Regular Labs Library?</button>
                            <div class="panel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                    nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <!-- </div> -->


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FAQ Page End -->


    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }
    </script>
    <script src="/public/plugin/bootstrap.min.js"></script>
</body>



</html>